body {
  margin: 0;
  padding: 0;
  background-color: #555353; /* Cor de fundo da página inteira */
}

.home {
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative; /* Adiciona posição relativa à home */
  background-color: #555353; /* Cor de fundo da home */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 100px; /* Corrige a sintaxe da margem esquerda */
  background-color: #c2c1c1;
}

.menu-icon, .icon {
  cursor: pointer;
  color: black;
  font-size: 32px; /* Aumenta o tamanho dos ícones */
}

.logo {
  text-align: center;
  height: 70px; /* Mantém a altura do logo */
}

.logo-image {
  width: 300px; /* Ajusta o tamanho do logo */
  height: auto;
}

.actions {
  display: flex;
}

.dropdown-menu, .dropdown-settings {
  position: absolute;
  background-color: #030303;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10;
  width: 150px;
}

.dropdown-menu {
  top: calc(13% + 10px); /* Ajusta a posição do menu suspenso */
  left: 5%;
  transform: translateX(-50%);
  background-color: black;
}

.dropdown-settings {
  top: calc(12% + 20px); /* Ajusta a posição do menu suspenso */
  right: 1%;
  transform: translateX(50%);
}

.dropdown-menu ul, .dropdown-settings ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-menu ul li, .dropdown-settings ul li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu ul li:hover, .dropdown-settings ul li:hover {
  background-color: #adacac;
}

.content {
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: #555353; /* Cor de fundo da content */
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  width: 100%; /* Ajusta a largura para ocupar o espaço necessário */
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: #fff; /* Adiciona cor de fundo branca aos produtos */
  display: flex;
  flex-direction: column; /* Torna a direção do layout vertical */
  justify-content: space-between; /* Distribui o espaço uniformemente */
}

.product h3 {
  font-size: 16px;
  margin: 5px 0;
  color: black;
}

.product-price {
  background-color: #429146;
}

.product p {
  margin: 5px 0;
  color: #bdbcbc;
}

.product p:first-child {
  font-weight: bold;
}

.product p:last-child {
  color: #d4d4d4;
}

.product-image {
  width: 100%; /* A imagem do produto preenche 100% do espaço disponível */
  height: 200px; /* Define uma altura fixa para as imagens */
  object-fit: cover; /* Ajusta a imagem para cobrir o contêiner, mantendo a proporção */
  margin-bottom: 10px; /* Espaço entre a imagem e o restante do conteúdo */
}

button {
  background-color: #4CAF50; /* Cor de fundo */
  color: white; /* Cor do texto */
  font-weight: bold;
  padding: 10px 20px; /* Espaçamento interno */
  border: none; /* Remove a borda */
  border-radius: 5px; /* Arredonda as bordas */
  cursor: pointer; /* Mostra o cursor como ponteiro ao passar por cima */
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

button:hover {
  background-color: #429146; /* Cor de fundo quando hover */
}

/* Estilos para o texto tie-dye */
.tie-dye-text {
  display: flex;
}

.tie-dye-text span {
  position: relative;
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(to right, #fafafa 50%, #fdf6f6 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 2px #000; /* Sombra preta */
}

/* Adicionando o estilo do carrinho */
.cart-summary {
  margin-top: 20px;
  padding: 20px;
  background-color: #c2c1c1;
  border-radius: 5px;
  text-align: center;
  color: black;
}

.cart-dropdown {
  position: absolute;
  top: 80px; /* Ajuste a posição superior de acordo com o seu layout */
  right: 10px; /* Ajuste a posição à direita de acordo com o seu layout */
  background-color: #080808;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 10;
  width: 200px; /* Ajuste a largura conforme necessário */
}

.cart-dropdown h3 {
  margin-top: 0;
}

.cart-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-dropdown ul li {
  margin-bottom: 10px;
}

.cart-dropdown h4 {
  margin-top: 20px;
  margin-bottom: 0;
}

button.addToCart {
  background-color: #df2828; /* Cor de fundo */
  color: white; /* Cor do texto */
  font-weight: bold;
  margin-left: 15px;
  padding: 4px 5px; /* Espaçamento interno */
  border: none; /* Remove a borda */
  border-radius: 5px; /* Arredonda as bordas */
  cursor: pointer; /* Mostra o cursor como ponteiro ao passar por cima */
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

button.addToCart:hover {
  background-color: #9c1515; /* Cor de fundo quando hover */
}

.home {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.menu-icon, .actions .icon {
  cursor: pointer;
}

.logo-image {
  height: 120px;
}

.dropdown-menu, .dropdown-settings {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  padding: 10px;
}

.streetwear-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px; /* Diminui a largura do contêiner streetwear */
  margin: 20px auto; /* Centraliza o contêiner horizontalmente */
}

.streetwear-image {
  width: 100%; /* Ajusta a imagem para ocupar toda a largura do contêiner */
  height: auto;
}

.estilo {
  font-size: 24px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  color: #d8d8e0; /* Cor do texto */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
  text-align: center; /* Alinha o texto no centro */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra ao texto */
}

